:root {
    --text-blue: hsl(238,29%,16%);  
    --text-red: hsl(14, 88%, 65%);
    --text-dkblue: hsl(240, 6%, 50%);
    --text-xdkblue: hsl(237, 12%, 33%);
    --gradient-violet: hsl(273, 75%, 66%);
    --gradient-blue: hsl(240, 73%, 65%);
    --divider-blue: hsl(240, 5%, 91%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--gradient-violet),var(--gradient-blue));
}